 
    <!--Jumbotron-->
    <div class="jumbotron jumbotron-fluid mt-3">
        <h3 class="h1-reponsive mb-4 mt-2 blue-text font-bold ml-5">Search By Date:</h3>
        <form class="form-inline md-form form-sm active-purple-2 ml-5">
            <mat-form-field>
                <input matInput [matDatepicker]="picker" placeholder="Choose a date" [(ngModel)]="reserveddate" name="reserveddate">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker> </mat-datepicker>
              </mat-form-field>
              <button type="button" class="btn btn-outline-secondary waves-effect ">Search</button>
        </form>
      </div>

  

